
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~owl.carousel/dist/assets/owl.carousel.css';
@import '~owl.carousel/dist/assets/owl.theme.default.css';


@font-face {
  font-family: "AbrilRegular";

  src: url("../src/fonts/AbrilFatface-Regular.ttf");
}
@font-face {
  font-family: "QuicksandBold";

  src: url("./fonts/Quicksand-Bold.otf");
}
@font-face {
  font-family: "ConamoreM";

  src: url("./fonts/AvenirLTStd-Black.otf");
}
@font-face {
  font-family: "AbrilRegular";

  src: url("../src/fonts/AbrilFatface-Regular.ttf");
}
@font-face {
  font-family: "avenirBook";

  src: url("./fonts/AvenirLTStd-Book.otf");
}
@font-face {
  font-family: "gorditaBold";

  src: url("./fonts/Gordita\ Bold.woff");
}
@font-face {
  font-family: "gorditaMedium";

  src: url("./fonts/Gordita\ Medium.woff");
}
@font-face {
  font-family: "gorditaRegular";

  src: url("./fonts/Gordita\ Regular.woff");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdown {
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.dropdown-menu {
  background-color: #fff;
  padding: 12px 50px;
  position: absolute;
  left: -81px;
  opacity: 0;
  top: 20px;
  visibility: hidden;
  transition: .03s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  text-align: center;

 
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
  animation: slideleft .2s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
  transition:.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  
}



/* Add these styles to your global stylesheet or a CSS module */



